{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="lp-grid-2 text-white">




<div class="d-flex flex-column justify-content-center">
<h1 class="text-white">EventsGow</h1>
<h4 class="text-white">All in one place</h4> 
</div>
<div class="d-flex align-items-center"><div>
<h1>{% trans "Sign In" %}</h1>
<p>{% blocktrans %}Don't have an account yet? then 
<a href="{{ signup_url }}" class="text-white">sign up</a> first{% endblocktrans %}</p>


<form class="login " method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button text-white" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
</div>
</div>
{% endblock %}