{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount
%} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}
<div class="lp-grid-2">
 
  {% include "account/landing_page_info.html" %}
  <div class="d-flex align-items-center">
    <div class="w-100">
      <h1>{% trans "Sign In" %}</h1>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="primaryAction btn btn-primary w-100" type="submit">
          {% trans "Sign In" %}
        </button>
        <p class="text-center">
          {% blocktrans %}Don't have an account yet?
          <a href="{{ signup_url }}" class="text-white">sign up</a>{% endblocktrans %}
        </p>
        <p class="text-center">
          <a class="button text-white" href="{% url 'account_reset_password' %}"
            >{% trans "Forgot Password?" %}</a
          >
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
