
body{
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.875rem;
}
a{
    color: #000000;
}
.btn:focus, .btn-outline-primary:focus, .btn-primary:focus{
    box-shadow: none !important;
}
.card-container{
    justify-self: center;
}
.createEvent:hover{
    background-color: rgb(248 249 250) !important;
}
.add-card > a{
    text-decoration: none; 
}
.d-grid-events {
    display: grid;
    padding: 3rem;
    row-gap: 2rem;
    /* justify-content: center; */
    grid-template-columns: 25% 25% 25% 25%;
  }
  .select2{
      width: 100% !important;
  }
  .select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
.lp-grid-2 {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 2% 60px;
}
.font-white{
    color: #ffffff;
}
.landing-page{
    height: 100vh;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: linear-gradient(
        rgba(24, 22, 22, 0.6),
        rgba(87, 81, 81, 0.6)
      ),
      url('../../media/images/events.jpeg');   
}
