{% load static %} 
<div class="d-grid-events">
  <div class="card-container add-card">
    <a href="#">
      <div
        class="card createEvent"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <div class="card-body add-card-body">
          <i class="fas fa-plus" style="font-size: x-large"></i>
        </div></div
    ></a>
  </div>
  {% if events %} {% for event in events %}

  <div class="card-container">
    {% include 'events/event_card.html' %} {% for tag in event.tags.all %}
    <span class="badge rounded-pill bg-secondary">{{tag.tag_name}}</span>
    {% endfor %}
  </div>

  {% endfor %} {% endif %}
</div>
