{% extends 'events/base.html' %} {% load static %} 
{% block head_block %} <script src="{% static "js/events/events.js" %}"></script>{% endblock %}
{% block body_block %} 
{% if user.is_authenticated %}
<div class="main">
<!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
       <div class="d-flex">
            <img src = "/static/images/logo.png"/ class="logo">
              <div><a class="navbar-brand d-flex flex-start" href="#">EventsGow</a></div>
            </div>
      <a href="{% url 'account_logout' %}" ><i class="fas fa-sign-out-alt text-white h5"></i></a>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Search Bar -->
  <div class="d-flex justify-content-center px-5 my-4">
    <div class="d-flex search-container justify-content-center">
      <input
        class="form-control me-2 search-input"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <button class="btn btn-outline-primary search" type="button">
        Search
      </button>
    </div>
  </div>
  <!-- End Search Bar -->
  <div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Loading ...</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modalBody p-3"></div>
        </div>
      </div>
    </div>
    <!-- End Modal -->
    <!-- Tab Bar -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="allevents-tab"
          data-bs-toggle="tab"
          data-bs-target="#allevents"
          type="button"
          role="tab"
          aria-controls="allevents"
          aria-selected="true"
        >
          All Events
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="myevents-tab"
          data-bs-toggle="tab"
          data-bs-target="#myevents"
          type="button"
          role="tab"
          aria-controls="myevents"
          aria-selected="false"
        >
          My Events
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="fav-tab"
          data-bs-toggle="tab"
          data-bs-target="#fav"
          type="button"
          role="tab"
          aria-controls="fav"
          aria-selected="false"
        >
          Favourites
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="attending-tab"
          data-bs-toggle="tab"
          data-bs-target="#attending"
          type="button"
          role="tab"
          aria-controls="attending"
          aria-selected="false"
        >
          Attending
        </button>
      </li>
    </ul>
    <!--End Tab Bar -->
    <!-- All events tab content -->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="allevents"
        role="tabpanel"
        aria-labelledby="allevents-tab"
      >
        <div class="d-grid-events">
          <div class="card-container add-card">
            <a href="#">
              <div
                class="card createEvent"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <div
                  class="card-body add-card-body"
                >
                  <i class="fas fa-plus" style="font-size: x-large"></i>
                </div></div
            ></a>
          </div>
          {% if events %} {% for event in events.all_events %}

          <div class="card-container">
            {% include 'events/event_card.html' %} {% for tag in event.tags.all %}
            <span class="badge rounded-pill bg-secondary"
              >{{tag.tag_name}}</span
            >
            {% endfor %}
          </div>

          {% endfor %} {% endif %}
        </div>
      </div>
       <!-- My events tab content -->
      <div
        class="tab-pane fade"
        id="myevents"
        role="tabpanel"
        aria-labelledby="myevents-tab"
      ></div>
      <!-- End My events tab content -->
      <div
        class="tab-pane fade"
        id="fav"
        role="tabpanel"
        aria-labelledby="fav-tab"
      ></div>
      <!--  Fav events tab content -->
      <div
        class="tab-pane fade"
        id="attending"
        role="tabpanel"
        aria-labelledby="attending-tab"
      ></div>
      <!-- End Fav events tab content -->
    </div>
  </div>

  {% else %}
  <a href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %} {% endblock %} {% block javascript %}
  <script>
   
  {% endblock javascript %}
</div>
